Flask==3.0.2
gradio==5.5.0
imaginairy==14.2.0
langchain==0.3.0
langchain_community==0.3.0
numpy==1.25.2
Requests==2.32.2
torch==2.2.0
transformers==4.38.0
docx2txt==0.8
pypdf==4.1.0
chromadb==0.4.24
tqdm
pipdeptree
watchdog
python-jose
passlib
aiosqlite
