Flask==3.0.2
gradio==5.31.0
imaginairy==14.2.0
langchain==0.3.0
langchain_community==0.3.27
numpy==1.25.2
Requests==2.32.4
torch==2.8.0
transformers==4.53.0
docx2txt==0.8
pypdf==6.4.0
chromadb==0.4.24
tqdm
pipdeptree
watchdog
python-jose
passlib
aiosqlite
