diffusers==0.34.0
Faker==37.4.0
fastapi==0.115.14
fpdf==1.7.2
numpy==2.3.1
opencv_python==4.11.0.86
openpyxl==3.1.5
Pillow==11.2.1
python_docx==1.2.0
python_json_logger==3.3.0
python_pptx==1.0.2
pyttsx3==2.98
pyzipper==0.3.6
Requests==2.32.4
torch==2.7.1
torchao==0.11.0
transformers==4.53.0
uvicorn==0.34.3
zipstream==1.1.4
