accelerate==1.1.1
diffusers==0.34.0
Faker==37.4.0
fastapi==0.115.14
fpdf==1.7.2
numpy==2.3.1
opencv_python==4.11.0.86
openpyxl==3.1.5
Pillow==11.3.0
python-docx==1.2.0
python-json-logger==3.3.0
python-pptx==1.0.2
pyzipper==0.3.6
zipstream==1.1.4
rarfile==4.2
requests==2.32.4
transformers==4.53.0
scipy==1.14.1
safetensors==0.4.5
torch==2.8.0
pyttsx3==2.98
uvicorn==0.34.3
