# docker-compose up -d
# -f compose-api.yml (if you want a custom file)

networks:
  ghosts-network:
    driver: bridge
services:
  ghosts-ng:
    image: dustinupdyke/ghosts-ng
    container_name: ghosts-ng
    ports:
      - "4200:80"
    networks:
      - ghosts-network
    environment:
      API_URL: ${WEB_API_URL:-http://host.docker.internal:5000/api}
      N8N_API_URL: ${WEB_N8N_API_URL:-http://host.docker.internal:5678}
  postgres:
    image: postgres:16.8
    container_name: ghosts-postgres
    environment:
      POSTGRES_DB: ghosts
      POSTGRES_USER: ghosts
      POSTGRES_PASSWORD: scotty@1
    volumes:
      - ./_db:/var/lib/postgresql/data
    logging:
      options:
        max-size: "100m"
        max-file: "5"
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ghosts"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - ghosts-network
    restart: always
  ghosts-api:
    image: dustinupdyke/ghosts:latest
    container_name: ghosts-api
    depends_on:
      - postgres
    ports:
      - "5000:5000"
    environment:
      N8N_API_URL: ${N8N_API_URL:-http://host.docker.internal:5678/api/v1/workflows}
      N8N_API_KEY: ${N8N_API_KEY:-replace-me}
    networks:
      - ghosts-network
    restart: always
  n8n:
    image: docker.n8n.io/n8nio/n8n:latest
    container_name: ghosts-n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE=true
      - N8N_SECURE_COOKIE=false
    volumes:
      - ./n8n_data:/home/node/.n8n
    networks:
      - ghosts-network
    restart: unless-stopped
  grafana:
    image: grafana/grafana
    container_name: ghosts-grafana
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    networks:
      - ghosts-network
    restart: always
    volumes:
      - ./_g:/var/lib/grafana
