networks:
  ghosts-network:
    driver: bridge

services:
  ghosts-ui:
    build:
      context: ../ghosts.ui
      dockerfile: Dockerfile
    container_name: ghosts-ui
    depends_on:
      - ghosts-api
    ports:
      - '8080:8080'
    networks:
      - ghosts-network
    environment:
      GHOSTS_API_URL: http://ghosts-api:5000
  ghosts-postgres:
    image: postgres:16.8
    container_name: ghosts-postgres
    environment:
      POSTGRES_DB: ghosts
      POSTGRES_USER: ghosts
      POSTGRES_PASSWORD: scotty@1
    volumes:
      - ghosts-postgres-data:/var/lib/postgresql/data
    logging:
      options:
        max-size: '100m'
        max-file: '5'
    ports:
      - '5432:5432'
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -U ghosts' ]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - ghosts-network
    restart: always
  ghosts-api:
    build:
      context: ..
      dockerfile: Dockerfile-api
    container_name: ghosts-api
    depends_on:
      ghosts-postgres:
        condition: service_healthy
    ports:
      - '5000:5000'
    networks:
      - ghosts-network
    restart: always
  ghosts-grafana:
    image: grafana/grafana
    container_name: ghosts-grafana
    depends_on:
      ghosts-postgres:
        condition: service_healthy
    user: root
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/etc/grafana/provisioning/dashboards/GHOSTS-5-default Grafana dashboard.json
    ports:
      - '3000:3000'
    networks:
      - ghosts-network
    restart: always
    volumes:
      - ghosts-grafana-data:/var/lib/grafana
      - ../../configuration/grafana/datasources:/etc/grafana/provisioning/datasources
      - ../../configuration/grafana/dashboards:/etc/grafana/provisioning/dashboards
    entrypoint: [ "/run.sh" ]

volumes:
  ghosts-postgres-data:
  ghosts-grafana-data:
