<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Error" internalLogFile="nlog-internal.log">

    <targets>
        <!-- Roll the api log at 50 MB, keep 3 archives (~200 MB total cap). -->
        <target name="logfile" xsi:type="File"
                fileName="logs/ghosts.api.log"
                layout="${Date}|${callsite}|${message}"
                archiveFileName="logs/ghosts.api.{#}.log"
                archiveAboveSize="52428800"
                archiveNumbering="Sequence"
                maxArchiveFiles="3"
                concurrentWrites="false"
                keepFileOpen="true" />
        <target name="console" xsi:type="Console" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>