docs/* linguist-documentation=true

src/Ghosts.Client/lib/* linguist-vendored=true

configuration/* linguist-generated=true
src/Ghosts.Client/config/* linguist-generated=true
src/Ghosts.Api/config/* linguist-generated=true
src/ghosts.pandora.socializer/src/wwwroot/* linguist-generated=true
*.cshtml linguist-generated=true
