@{
    ViewData["Title"] = "Detail";
}
@model Socializer.Infrastructure.Post

<div class="row row-cols-1 row-cols-md-12" id="itemList">
    @{
        var post = Model;
        <div class="col" id="@post.Id">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">
                        @Html.Raw(post.Message)
                    </p>
                    <p class="card-text">
                        <a href="/u/@post.User" class="user">@post.User</a>
                        <br/>
                        <span class="created">@post.CreatedUtc</span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
