<!-- main menu header-->
<!-- Sidebar Header starts-->
<div class="sidebar-header">
  <div class="logo clearfix">
      <a [routerLink]="['/home']" class="logo-text float-left">
          <div class="logo-img">
              <img src="assets/img/logo.png" />
          </div><span class="text align-middle">GHOSTS</span>
      </a><a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="ft-toggle-right toggle-icon"></i></a><a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-x"></i></a>
  </div>
</div>
<!-- Sidebar Header Ends-->
<!-- / main menu header-->
<!-- main menu content-->
<div class="sidebar-content">
  <div class="nav-container">
      <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main" *ngIf="isLoggedIn$ | async">
          <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/home']"><i class="fa fa-signal"></i><span data-i18n="" class="menu-title">Dashboard</span></a>
          </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
            <a [routerLink]="['/machine-groups']"><i class="fa fa-object-group"></i><span data-i18n="" class="menu-title">Machine Groups</span></a>
        </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
              <a [routerLink]="['/machines']"><i class="fa fa-desktop"></i><span data-i18n="" class="menu-title">Machines</span></a>
          </li>
          <!--
          <li [routerLinkActive]="['link-active']" class="has-sub nav-item">
              <a [routerLink]="['/health']"><i class="fa fa-heart"></i><span data-i18n="" class="menu-title">Health</span><span class="tag badge badge-pill badge-danger float-right mr-1 mt-1">2</span></a>
              <ul class="menu-content">
                  <li>
                      <a [routerLink]="['/health-notifications']" class="menu-item">Notifications</a>
                  </li>
                  <li>
                      <a [routerLink]="['/health-notifications']" class="menu-item">Watch List</a>
                  </li>
              </ul>
          </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
              <a [routerLink]="['/timelines']"><i class="fa fa-calendar"></i><span data-i18n="" class="menu-title">Timelines</span></a>
          </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
              <a [routerLink]="['/injects']"><i class="fa fa-bullseye"></i><span data-i18n="" class="menu-title">Injects</span></a>
          </li>
        -->
      </ul>
  </div>
</div>
<!-- main menu content-->
<div class="sidebar-background"></div>
<!-- main menu footer-->
<!-- include includes/menu-footer-->
<!-- main menu footer-->