<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      AutoLoadExtensions="true"
      internalLogToConsole="true"
      internalLogLevel="Error"
>
  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/app.log" layout="${date:universalTime=true:format=dd/MM/yyyy H\:mm\:ss tt}|${callsite}|${message}" archiveAboveSize ="1000000" maxArchiveFiles="2" />
    <target name="clientupdates" xsi:type="File" fileName="logs/clientupdates.log" layout="${message}" archiveAboveSize ="500000" maxArchiveFiles="20" />
    <target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile">
      <filters defaultAction="Neutral">
        <when condition="starts-with('${message}','HEALTH')" action="Ignore" />
        <when condition="starts-with('${message}','TIMELINE')" action="Ignore" />
        <when condition="starts-with('${message}','WEBHOOKCREATE')" action="Ignore" />
      </filters>
    </logger>
    <logger name="HEALTH" minlevel="Trace" writeTo="clientupdates" />
    <logger name="TIMELINE" minlevel="Trace" writeTo="clientupdates" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
