<div class="main-content">
    <div class="content-wrapper">

        <!--Statistics cards Starts-->
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <p *ngIf="!machine">
                    <em>Loading...</em>
                </p>
                <div *ngIf="machine">
                    <h2>{{ machine.name }} - {{ machine.fqdn }}</h2>
                    <br />

                    <table class="table table-sm striped table-hover">
                        <thead>
                            <tr>
                                <th width="20">&nbsp;</th>
                                <th>Machine</th>
                                <th>IP</th>
                                <th>Current User</th>
                                <th>Status</th>
                                <th class="text-right">Created</th>
                                <th class="text-right">Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td title="{{machine.statusUp}} - Last reported on {{machine.lastReportedUtc | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY, h:mm:ss A'}}">
                                    <i class="fa fa-desktop {{machine.statusUp}}"></i>
                                </td>
                                <td title="{{ machine.id }}">
                                    <a [routerLink]="['/machines/', machine.id]" class="{{machine.statusUp}}">
                                        {{ machine.name }} [{{ machine.fqdn }}]
                                    </a>
                                </td>
                                <td>{{ machine.ipAddress }} [host:{{ machine.hostIp }}]</td>
                                <td>{{ machine.currentUsername }}</td>
                                <td>{{ machine.statusMessage }}</td>
                                <td class="text-right" title="{{ machine.createdUtc | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY, h:mm:ss A' }}">
                                    {{ machine.createdUtc | amFromUtc | amLocal | amTimeAgo }}
                                </td>
                                <td class="text-right" title="{{ machine.lastReportedUtc | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY, h:mm:ss A' }}">
                                    {{ machine.lastReportedUtc | amFromUtc | amLocal | amDateFormat | amTimeAgo }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="dt-title">Health</h2>

                    <table datatable [dtOptions]="dtOptions" class="table table-sm striped table-hover row-border hover" *ngIf="machine">
                        <thead>
                            <tr>
                                <th width="20">&nbsp;</th>
                                <th>Execution MS</th>
                                <th>Internet</th>
                                <th>Permissions</th>
                                <th>Errors</th>
                                <th>Logged On Users</th>
                                <th class="text-right">Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let h of machine.historyHealth">
                                <td>
                                    <span [ngSwitch]="h.errors.length>0">
                                        <span *ngSwitchCase="true">
                                            <i class="fa fa-medkit pink"></i>
                                        </span>
                                        <span *ngSwitchDefault>
                                            <i class="fa fa-medkit green"></i>
                                        </span>
                                    </span>
                                </td>
                                <td>{{ h.executionTime}}</td>
                                <td>{{ h.internet}}</td>
                                <td>{{ h.permissions}}</td>
                                <td>{{ h.errors}}</td>
                                <td>{{ h.loggedOnUsers}}</td>
                                <td nowrap="nowrap" class="text-right" title="{{ h.createdUtc  | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY, h:mm:ss A' }}">
                                    {{h.createdUtc | amFromUtc | amLocal | amTimeAgo }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <br />
                    <h2 class="dt-title">Timeline</h2>

                    <table datatable [dtOptions]="dtOptions" class="table table-sm striped table-hover row-border hover" *ngIf="machine">
                        <thead>
                            <tr>
                                <th width="20">&nbsp;</th>
                                <th>Handler</th>
                                <th>Command</th>
                                <th>Args</th>
                                <th class="text-right">Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let h of machine.historyTimeline">
                                <td>
                                    <i class="fa fa-play-circle green"></i>
                                </td>
                                <td>{{ h.handler}}</td>
                                <td>{{ h.command}}</td>
                                <td>{{ h.commandArg}}</td>
                                <td nowrap="nowrap" class="text-right" title="{{ h.createdUtc | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY, h:mm:ss A' }}">
                                    {{h.createdUtc | amFromUtc | amLocal | amTimeAgo }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <br />
                    <h2 class="dt-title">History</h2>

                    <table datatable [dtOptions]="dtOptions" class="table table-sm striped table-hover row-border hover" *ngIf="machine">
                        <thead>
                            <tr>
                                <th width="20">&nbsp;</th>
                                <th>Type</th>
                                <th>Payload</th>
                                <th class="text-right">Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let h of machine.history">
                                <td>
                                    <span [ngSwitch]="h.type">
                                        <span *ngSwitchCase="'HealthResult'">
                                            <i class="fa fa-medkit pink"></i>
                                        </span>
                                        <span *ngSwitchCase="'TimelineResult'">
                                            <i class="fa fa-calendar green"></i>
                                        </span>
                                        <span *ngSwitchDefault>
                                            <i class="fa fa-history"></i>
                                        </span>
                                    </span>
                                </td>
                                <td>{{ h.type}}</td>
                                <td>
                                    <span ng-show="h.object != null">{{h.object}}</span>

                                    <span [ngSwitch]="h.type">
                                        <span *ngSwitchCase="'HealthResult'">
                                            [ {{h.object.Permissions}} ]
                                        </span>
                                        <span *ngSwitchCase="'TimelineResult'">
                                            <div ng-init="json=JSON.Parse(h.object)">

                                                <div ng-repeat="v in json"></div>
                                            </div>
                                        </span>
                                        <span *ngSwitchDefault>

                                        </span>
                                    </span>
                                </td>
                                <td nowrap="nowrap" class="text-right" title="{{ h.createdUtc | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY, h:mm:ss A' }}">
                                    {{h.createdUtc | amFromUtc | amLocal | amTimeAgo }}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>