[headers]
server=Apache

[non_200s]
percent_is_302=10

[video]
video_enabled=False
nginx_enabled=False

[css]
fonts_array=sans-serif,serif,geneva,georgia,Arial,Verdana,Helvetica,Tahoma,Trebuchet MS,Times New Roman,Garamond,Courier New

[payloads]
1=/1/,a.zip,application/zip
2=/2/users,b.zip,application/zip
3=/3/some/report/url,c.zip,application/zip
4=test.txt,test.txt,text/plain

[ai]
ollama_enabled=True