<div class="main-content">
        <div class="content-wrapper">
            <!--Statistics cards Starts-->
            <div class="row">
                <div class="col-xl-12 col-lg-12">

                    <div style="border-bottom:1px solid rgba(0, 0, 0, 0.1); margin-bottom: 20px; padding-bottom:20px;">
                        <div class="form-inline">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="newGroupName" placeholder="Group Name">
                            
                            <button type="button" class="btn btn-primary btn-sm" (click)="addGroup()" style="margin-top:14px;" title="Add Group"><i class="fa fa-plus-square"></i></button>
                        </div>
                    </div>

                    <p *ngIf="!machinegroups"><em>Loading...</em></p>
                    <div *ngIf="machinegroups">
    
                        <div *ngFor="let machinegroup of machinegroups">
                            <h3>
                                {{ machinegroup.name }} 
                                <button type="button" class="btn btn-danger btn-sm" (click)="removeGroup(machinegroup.id)" style="margin-top:14px;" title="Remove Group"><i class="fa fa-unlink"></i></button>
                            </h3>
                            <table datatable class="table table-sm striped table-hover row-border hover">
                                <thead>
                                    <tr>
                                        <th width="20">&nbsp;</th>
                                        <th>Machine</th>
                                        <th>IP</th>
                                        <th>Current User</th>
                                        <th>Status</th>
                                        <th class="text-right">Last</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let machine of machinegroup.machines">
                                        <td title="{{machine.statusUp}} - Last reported on {{machine.lastReportedUtc | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY, h:mm:ss A'}}">
                                            <i class="fa fa-desktop {{machine.statusUp}}"></i>
                                        </td>
                                        <td title="{{ machine.id }}">
                                            <a [routerLink]="['/machines/', machine.id]" class="{{machine.statusUp}}">
                                                {{ machine.name }} [{{ machine.fqdn }}]
                                            </a>
                                        </td>
                                        <td>{{ machine.ipAddress }} [host:{{ machine.hostIp }}]</td>
                                        <td>{{ machine.currentUsername }}</td>
                                        <td>{{ machine.statusMessage }}</td>
                                        <td class="text-right" title="{{ machine.lastReportedUtc | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY, h:mm:ss A' }}">
                                            {{ machine.lastReportedUtc | amFromUtc | amLocal | amDateFormat | amTimeAgo }}
                                        </td>
                                        <td class="text-right">
                                            <button type="button" 
                                                class="btn btn-danger btn-sm delete" 
                                                (click)="removeFromGroup(machine.id, machinegroup.id)" title="Remove from Group"><i class="fa fa-unlink"></i></button> 
                                            <button type="button" 
                                                class="btn btn-danger btn-sm delete" 
                                                (click)="deleteMachine(machine.id, machinegroup.id)" title="Delete Machine"><i class="fa fa-trash"></i></button> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>