<!DOCTYPE html>
<html>
    <head>
        <title>GHOSTS SHADOWS</title>
        <style>
            body {background-color:#010007; color:whitesmoke; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left:30px;}
            a {color:silver;}
        </style>
    </head>
<body>
    <img src='http://localhost:5900/assets/ghosts-shadows.png' width='350' height='350' />
    <p>API for accessing NPC data from a locally-hosted LLM</p>
    <p>Endpoints</p>
    <ul>
        <li>Activities</li>
        <li>Chat</li>
        <li>Content</li>
        <li>Social</li>
    </ul>
    <p>A UI should be running on <a href="http://localhost:7860" target="_blank">http://localhost:7860</a></p>
</body>
</html>