name: Create Container Shadows

on:
  workflow_dispatch:
    branches: [ main ]
  release:
    types: [ "published" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          tags: dustinupdyke/ghosts-shadows:latest
          push: true
          context: ./src/ghosts.shadows/
          file: ./src/ghosts.shadows/Dockerfile
      
      - name: Save Docker image as tar
        run: | 
          docker save dustinupdyke/ghosts-shadows:latest > ghosts-shadows.tar
          
      - name: Upload TAR file as artifact
        uses: actions/upload-artifact@v2
        with:
          name: ghosts-shadows
          path: ghosts-shadows.tar
