<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      AutoLoadExtensions="true"
      internalLogToConsole="true"
      internalLogLevel="Error"
>
  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/app.log" layout="${Date:universalTime=true}|${callsite}|${message}" archiveAboveSize ="1000000" maxArchiveFiles="2" />
    <target name="clientupdates" xsi:type="File" fileName="logs/clientupdates.log" layout="${message}" archiveAboveSize ="500000" maxArchiveFiles="20" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile">
      <filters defaultAction="Neutral">
        <when condition="starts-with('${message}','HEALTH')" action="Ignore" />
        <when condition="starts-with('${message}','TIMELINE')" action="Ignore" />
        <when condition="starts-with('${message}','WEBHOOKCREATE')" action="Ignore" />
      </filters>
    </logger>
    <logger name="HEALTH" minlevel="Trace" writeTo="clientupdates" />
    <logger name="TIMELINE" minlevel="Trace" writeTo="clientupdates" />
  </rules>
</nlog>